@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply w-full h-screen;
  }
  h1 {
    @apply text-3xl sm:text-4xl uppercase font-spectralHeader;
  }
  h2 {
    @apply text-2xl sm:text-3xl uppercase font-spectralHeader;
  }
  h3 {
    @apply text-xl sm:text-2xl uppercase font-spectralHeader;
  }
  h4 {
    @apply text-lg sm:text-xl uppercase font-spectralHeader;
  }
  h5 {
    @apply text-base sm:text-lg uppercase font-spectralHeader;
  }
  h6 {
    @apply text-sm sm:text-base uppercase font-spectralHeader;
  }

  /* video {
    @apply w-full h-full;
  } */
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
