@tailwind base;

@layer base {
  h1 {
    @apply text-3xl sm:text-4xl uppercase font-josefinHeader;
  }
  h2 {
    @apply text-2xl sm:text-3xl uppercase font-josefinHeader;
  }
  h3 {
    @apply text-xl sm:text-2xl uppercase font-josefinHeader;
  }
  h4 {
    @apply text-lg sm:text-xl uppercase font-josefinHeader;
  }
  h5 {
    @apply text-base sm:text-lg uppercase font-josefinHeader;
  }
  h6 {
    @apply text-sm sm:text-base uppercase font-josefinHeader;
  }
}

@tailwind components;

@layer components {
  .slide-frame {
    @apply relative carousel-item w-full h-screen flex flex-col items-center justify-between overflow-hidden;
  }
  .slide-bgImage {
    @apply absolute z-0 min-w-fit lg:w-fit md:w-fit h-screen transform -translate-y-1/2 top-1/2;
  }
  .slide-description {
    @apply animate-fade-in-up font-montagaText text-xl text-justify w-[80%] lg:w-[40%] p-4 h-fit;
  }
  .slide-title {
    @apply z-10 text-focus-200 p-2 font-spectralHeader;
  }
  .slide-footer {
    @apply text-center font-extralight text-focus-200 font-spectralHeader;
  }
  .slide-navigation {
    @apply absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2;
  }
  .bg-video {
    @apply absolute -z-10 h-full w-full object-cover saturate-100 p-0 m-0 border-none;
  }
}

@tailwind utilities;

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
