@tailwind base;

@layer base {
  html {
    @apply w-full h-screen;
  }
  h1 {
    @apply text-3xl sm:text-4xl uppercase font-spectralHeader;
  }
  h2 {
    @apply text-2xl sm:text-3xl uppercase font-spectralHeader;
  }
  h3 {
    @apply text-xl sm:text-2xl uppercase font-spectralHeader;
  }
  h4 {
    @apply text-lg sm:text-xl uppercase font-spectralHeader;
  }
  h5 {
    @apply text-base sm:text-lg uppercase font-spectralHeader;
  }
  h6 {
    @apply text-sm sm:text-base uppercase font-spectralHeader;
  }
}

@tailwind components;
@layer components {
  .slide-frame {
    @apply relative carousel-item w-full h-screen flex flex-col items-center justify-between overflow-hidden;
  }
  .slide-bgImage {
    @apply absolute z-0 aspect-square min-w-fit lg:w-fit md:w-fit h-screen transform -translate-y-1/2 top-1/2;
  }
  .slide-description {
    @apply animate-fade-in-up font-montagaText text-xl text-justify w-[80%] lg:w-[90%] p-1 bg-neutral bg-opacity-60 h-full;
  }
  .slide-footer {
    @apply text-center font-extralight pb-5 text-focus-200;
  }
  .slide-navigation {
    @apply absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2;
  }
}

@tailwind utilities;

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
